page-home {
    .logo {
        position:relative;
        left: 0;
        right: 0;
        margin:0 auto;
        // margin-bottom: 25;
        // top:50%;
        // transform:translateY(-50%);
    }

    .body {
        position:relative;
        left: 0;
        right: 0;
        margin:0 auto;
        margin-top: 10;
    }
}