<ion-header>

  <ion-navbar>
    <ion-title>Ativar Jogos</ion-title>
    <ion-buttons left>
      <button (click)="dismiss()" icon-only ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let game of sortGames('title')">
      <ion-item (click)="game.config || activateGame(game, id)">
        <ion-icon *ngIf="game.config" color="light" item-left name="checkmark"></ion-icon>
        <ion-icon *ngIf="!game.config" color="danger" item-left name="close"></ion-icon>
        <h2><b>{{game.title}}</b></h2>
      </ion-item>

      <ion-item-options side="right">
        <button (click)="deactivateGame(game,id,slidingItem);$event.stopPropagation();" *ngIf="game.config" icon-only
                ion-button
                outline>
          <ion-icon color="danger" name="close"></ion-icon>
        </button>
        <button (click)="editGame(game);$event.stopPropagation();" *ngIf="game.config" icon-only ion-button outline>
          <ion-icon color="light" name="hammer"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>


  </ion-list>

</ion-content>
