<ion-header>

  <ion-navbar color="primary">
    <ion-title>Jogos</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let game of _games" #slidingItem>
      <ion-item (click)="game.config || activateGame(game, id)">
        <ion-icon name="checkmark" color="green" item-left *ngIf="game.config"></ion-icon>
        <ion-icon name="close" color="danger" item-left *ngIf="!game.config"></ion-icon>
        <h2 [style.color]="getStylee(sexo)"><b>{{game.title}}</b></h2>
      </ion-item>

      <ion-item-options side="right">
        <button *ngIf="game.config" ion-button icon-only outline (click)="deactivateGame(game,id,slidingItem);$event.stopPropagation();">
          <ion-icon color="danger" name="close"></ion-icon>
        </button>
        <button *ngIf="game.config" ion-button icon-only outline (click)="editGame(game);$event.stopPropagation();">
          <ion-icon name="hammer" color="secondary"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>


  </ion-list>

</ion-content>