<ion-header>

  <ion-navbar>
    <ion-title>Editar Jogo</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="game.title == 'Jogo da Mercearia'">
    <ion-item>
      <ion-label>Primeira Etapa</ion-label>
      <ion-select [(ngModel)]="firstGame">
        <ion-option value="2">Mão Direita</ion-option>
        <ion-option value="1">Mão Esquerda</ion-option>
        <ion-option value="3">Mãos Cruzadas</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Segunda Etapa</ion-label>
      <ion-select [(ngModel)]="secondGame">
        <ion-option value="2">Mão Direita</ion-option>
        <ion-option value="1">Mão Esquerda</ion-option>
        <ion-option value="3">Mãos Cruzadas</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Terceira Etapa</ion-label>
      <ion-select [(ngModel)]="thirdGame">
        <ion-option value="2">Mão Direita</ion-option>
        <ion-option value="1">Mão Esquerda</ion-option>
        <ion-option value="3">Mãos Cruzadas</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Quarta Etapa</ion-label>
      <ion-select [(ngModel)]="fourthGame">
        <ion-option value="F">Não</ion-option>
        <ion-option value="T">Sim</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Modo Imersivo</ion-label>
      <ion-select [(ngModel)]="imersiveMode">
        <ion-option value="F">Não</ion-option>
        <ion-option value="T">Sim</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>
        <h2>Tempo/Etapa em segundos. EX: 60</h2>
      </ion-label>
      <ion-input type="text" name="time" [(ngModel)]="time"></ion-input>
    </ion-item>
  </div>

  <div *ngIf="game.title == 'Pontes'">
    <ion-item>
      <ion-label>Primeira Etapa</ion-label>
      <ion-select [(ngModel)]="firstGame">
        <ion-option value="2">Mão Direita</ion-option>
        <ion-option value="1">Mão Esquerda</ion-option>
        <ion-option value="3">Mãos Cruzadas</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Segunda Etapa</ion-label>
      <ion-select [(ngModel)]="secondGame">
        <ion-option value="2">Mão Direita</ion-option>
        <ion-option value="1">Mão Esquerda</ion-option>
        <ion-option value="3">Mãos Cruzadas</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Terceira Etapa</ion-label>
      <ion-select [(ngModel)]="thirdGame">
        <ion-option value="2">Mão Direita</ion-option>
        <ion-option value="1">Mão Esquerda</ion-option>
        <ion-option value="3">Mãos Cruzadas</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Quarta Etapa</ion-label>
      <ion-select [(ngModel)]="fourthGame">
        <ion-option value="F">Não</ion-option>
        <ion-option value="T">Sim</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Modo Imersivo</ion-label>
      <ion-select [(ngModel)]="imersiveMode">
        <ion-option value="F">Não</ion-option>
        <ion-option value="T">Sim</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>
        <h2>Tempo/Etapa em segundos. EX: 60</h2>
      </ion-label>
      <ion-input type="text" name="time" [(ngModel)]="time"></ion-input>
    </ion-item>
  </div>

  <div *ngIf="game.title == 'Bloquinho'">
    <ion-item>
      <ion-label>Primeira Etapa</ion-label>
      <ion-select [(ngModel)]="firstGame">
        <ion-option value="2">Mão Direita</ion-option>
        <ion-option value="1">Mão Esquerda</ion-option>
        <ion-option value="3">Mãos Cruzadas</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Segunda Etapa</ion-label>
      <ion-select [(ngModel)]="secondGame">
        <ion-option value="2">Mão Direita</ion-option>
        <ion-option value="1">Mão Esquerda</ion-option>
        <ion-option value="3">Mãos Cruzadas</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Terceira Etapa</ion-label>
      <ion-select [(ngModel)]="thirdGame">
        <ion-option value="2">Mão Direita</ion-option>
        <ion-option value="1">Mão Esquerda</ion-option>
        <ion-option value="3">Mãos Cruzadas</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Modo Imersivo</ion-label>
      <ion-select [(ngModel)]="imersiveMode">
        <ion-option value="F">Não</ion-option>
        <ion-option value="T">Sim</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>
        <h2>Tempo/Etapa em segundos. EX: 60</h2>
      </ion-label>
      <ion-input type="text" name="time" [(ngModel)]="time"></ion-input>
    </ion-item>
  </div>

  <div *ngIf="game.title == 'Invasão Espacial'">
    <ion-item>
      <ion-label>Selecione a mão</ion-label>
      <ion-select [(ngModel)]="firstGame">
        <ion-option value="2">Mão Direita</ion-option>
        <ion-option value="1">Mão Esquerda</ion-option>
      </ion-select>
    </ion-item>
  </div>
  <div *ngIf="game.title == 'Bola na Caixa'">
    <ion-item>
      <ion-label>Selecione a mão</ion-label>
      <ion-select [(ngModel)]="firstGame">
        <ion-option value="2">Mão Direita</ion-option>
      </ion-select>
    </ion-item>
  </div>

  <div style="text-align: center;margin-top: 15px;">
    <button ion-button class="customButton" ion-button block round (click)="editGame(id, game)">Confirmar</button>
    <button ion-button class="backButton" ion-button block round (click)="dismiss()">Cancelar</button>
  </div>
</ion-content>