<ion-header>
  <ion-navbar (click)="goBack()">
    <ion-title>
      Cadastro
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="form-content" padding>

  <h3 text-center>Preencha suas informações</h3>
  <form (ngSubmit)="createAccount(validations_form.value)" [formGroup]="validations_form" class="form">

    <ion-item>
      <ion-label floating>Login</ion-label>
      <ion-input formControlName="login" required type="text"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.login">
        <div
          *ngIf="validations_form.get('login').hasError(validation.type) && (validations_form.get('login').dirty || validations_form.get('login').touched)"
          class="error-message">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input formControlName="name" required type="text"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.name">
        <div
          *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)"
          class="error-message">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input [textMask]="emailMask" formControlName="email" required type="text"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)"
          class="error-message">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div formGroupName="matching_passwords">
      <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div
            *ngIf="validations_form.get('matching_passwords').get('password').hasError(validation.type) && (validations_form.get('matching_passwords').get('password').dirty || validations_form.get('matching_passwords').get('password').touched)"
            class="error-message">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label floating>Confirme a senha</ion-label>
        <ion-input formControlName="confirm_password" type="password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.confirm_password">
          <div
            *ngIf="validations_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)"
            class="error-message">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.matching_passwords">
        <div
          *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)"
          class="error-message">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div style="text-align: center; padding-top: 30px">
      <button [disabled]="!validations_form.valid" class="customButton" full ion-button round type="submit">Confirmar
      </button>
    </div>
  </form>

</ion-content>
